* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('inicio.jpg');
}

.text h4 {
  font-size: 30px;
  margin-bottom: 20px;
  margin: auto;
  font-family: 'calibri';
  color: darkred;
}

.text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin: auto;
  font-family: 'calibri';
  color: darkblue;
}

  .text {
  width: 900px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 90px;
  border-radius: 18px;
  font-family: 'calibri';
  color: beige;
  box-shadow: 7px 13px 37px #000;
}

.text p {
  height: 55px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.text a {
  color: black;
  text-decoration: none;
}

.text a:hover {
  color: black;
  text-decoration: underline;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.text .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

#header {
        margin:auto;
        width:500px;
        font-family:Arial, Helvetica, sans-serif;
      }
      
      ul, ol {
        list-style:none;
      }
      
      .nav > li {
        float:left;
      }
      
      .nav li a {
        background-color:black;
        color:white;
        text-decoration:none;
        padding:20px 8px;
        display:block;
      }
            
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }
